<launch>
  <arg name="rviz"   default="true"  doc="Starts RViz" />
  <arg name="gui"    default="true"  doc="Starts Gazebo in GUI mode" />
  <arg name="paused" default="false" doc="Starts Gazebo in paused mode" />
  <arg name="world"  default=""      doc="" />
  <env name="GAZEBO_MODEL_PATH"    value="$(find aurmr_gazebo)/models:$(optenv GAZEBO_MODEL_PATH)" />
  <env name="GAZEBO_RESOURCE_PATH" value="$(find aurmr_gazebo)/models/tahoma_materials:$(optenv GAZEBO_RESOURCE_PATH)" />

  <arg name="pod_x" />
  <arg name="pod_y" />
  <arg name="pod_yaw"/>
  <arg name="pod_id"         default="1A"   doc="Pod type" />
  <arg name="include_flaps"  default="true" doc="Adds bin flaps into urdf model (matters in Gazebo collision scene)" />

  <include file="$(find aurmr_gazebo)/launch/include/common.xml">
    <arg name="gui"                   value="$(arg gui)" />
    <arg name="paused"                value="$(arg paused)"/>
    <arg name="world"                 value="$(arg world)" />
    <arg name="pod_id"                value="$(arg pod_id)" />
    <arg name="pod_x"                 value="$(arg pod_x)"/>
    <arg name="pod_y"                 value="$(arg pod_y)"/>
    <arg name="pod_yaw"               value="$(arg pod_yaw)"/>
    <arg name="include_flaps"         value="$(arg include_flaps)" />
  </include>

  <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(find aurmr_gazebo)/config/tahoma.rviz" />
</launch>
