<launch>
  <arg name="rviz"   default="true"  doc="Starts RViz" />
  <arg name="gui"    default="true"  doc="Starts Gazebo in GUI mode" />
  <arg name="paused" default="false" doc="Starts Gazebo in paused mode" />
  <arg name="world"  default="$(find aurmr_gazebo)/worlds/fc.world" doc="" />

  <arg name="pod_x" default="0.65"/>
  <arg name="pod_y" default="0.47"/>
  <arg name="pod_yaw" default="-1.57"/>
  <arg name="pod_id"         default="1D"   doc="Pod type" />
  <arg name="include_flaps"  default="false" doc="Adds bin flaps into urdf model (matters in Gazebo collision scene)" />

  <include file="$(find aurmr_gazebo)/launch/empty_simulation.launch" pass_all_args="true"/>
</launch>
