<launch>
    <arg name="gui" default="True" />
    <param name="robot_description" command="$(find xacro)/xacro '$(find aurmr_gazebo)/robots/tahoma.gazebo.xacro'" />

    <node if="$(arg gui)" name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <node name="rviz" pkg="rviz" type="rviz" required="false" args="-d $(find aurmr_gazebo)/config/view_tahoma_model.rviz"/>
</launch>
